services:

  web:
    build:
      context: .
      dockerfile: ./docker-configs/nginx.dockerfile
    container_name: semantic_engine_nginx
    restart: always
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"
    depends_on:
      - qdrant
      - engine
    volumes:
      - ./docker-configs/default.conf:/etc/nginx/conf.d/default.conf
      - ./docker-configs/certs:/etc/nginx/certs:ro
      - ./:/app:delegated

  engine:
    image: node:22-alpine
    container_name: semantic_engine_app
    restart: always
    volumes:
      - ./:/app
      - /app/node_modules
    depends_on:
      - qdrant
    working_dir: /app
    env_file:
      - .env
    command: sh -c "npm install && npm run dev"
    expose:
      - "3000"
    environment:
      - NODE_ENV=development

  qdrant:
    image: qdrant/qdrant
    container_name: semantic_engine_qdrant
    ports:
      - "6335:6333"
      - "6336:6334"
    volumes:
      - ./qdrant_db:/qdrant/storage:z
    restart: unless-stopped
