@import "tailwindcss";

@config "../../tailwind.config.js";

@layer base {
    :root {
        --wp-admin-theme-color: #2271b1;
    }
}

#ai-assistant-container {
    .is-busy {
        background-color: #099a5f !important;
        background-image: linear-gradient(-45deg, #099a5f 33%, #077a4a 33%, #077a4a 70%, #099a5f 70%);
    }
}
